@CHARSET "UTF-8";
@media screen and ( max-width:479px )
{
	div#wrapper{
		width:100%;
		text-align: left;
	}
	.Days{
		word-wrap: break-word;
		background-image: url("../img/background/sumafo.jpg");
	}
	iframe{
		top: 0;
		left: 0;
		width: 80%;
		height: 30%;
	}
}